<div class="container">
    <div class="row">
        <div class="col-12 d-sm-flex justify-content-sm-center vh-100 align-items-sm-center">
            <div class="row col-12 col-sm-10 main-container shadow-lg m-0 bg-body rounded">
                <div>
                    <button mat-raised-button color="primary" class="w-25 float-end" routerLink="/students/add-student">ADD STUDENT</button>
                </div>
                <div class="col-12 mt-2 table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">NAME</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">ROLLNUMBER</th>
                                <th scope="col">EXAMNUMBER</th>
                                <th scope="col">EDIT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let details of students; index as i;">
                                <th>{{i + 1}}</th>
                                <td>{{details.firstName}}</td>
                                <td>{{details.email}}</td>
                                <td>{{details.rollNumber}}</td>
                                <td>{{details.examNumber}}</td>
                                <td class="d-flex">
                                    <a class="bi bi-pen-fill me-2 h5" [routerLink]="[details.id, 'edit']"></a>
                                    <a class="bi bi-trash-fill ms-2 h5" (click)="deleteStudent(details._id)"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>