<section class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10">
            <div class="card-style-table p-4">
                <!-- Title Region -->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h1>Student List</h1>
                    </div>
                    <div class="col-12 col-md-8">
                        <section class="row">
                            <!-- filters -->
                            <div class="col-12 col-md-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>YEAR</mat-label>
                                    <mat-select formControlName="year"
                                        (selectionChange)="handleYearfilter($event.value)">
                                        <mat-option value="">All</mat-option>
                                        <mat-option value="FirstYear">FIRST YEAR</mat-option>
                                        <mat-option value="SecondYear">SECOND YEAR</mat-option>
                                        <mat-option value="ThirdYear">THIRD YEAR</mat-option>
                                        <mat-option value="FourthYear">FOURTH YEAR</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>BRANCH</mat-label>
                                    <mat-select formControlName="year"
                                        (selectionChange)="handleBranchfilter($event.value)">
                                        <mat-option value="">ALL</mat-option>
                                        <mat-option value="it">INFORMATION TECHNOLOGY</mat-option>
                                        <mat-option value="cse">COMPUTER SCIENCE</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-3 mt-0 mt-md-2 text-center mb-4 mb-md-0">
                                <button mat-raised-button color="primary" class="float-end" routerLink="/students/add-student">ADD
                                    STUDENT</button>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- table -->
                <div class="table-responsive">
                    <table class="table w-100 text-center borderless app-rounded-gray-hd-table">
                        <thead>
                            <tr>
                                <th scope="col" class="table-header">#</th>
                                <th scope="col" class="table-header">NAME</th>
                                <th scope="col" class="table-header">EMAIL</th>
                                <th scope="col" class="table-header">ROLLNUMBER</th>
                                <th scope="col" class="table-header">EXAMNUMBER</th>
                                <th scope="col" class="table-header">EDIT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let details of students; index as i;">
                                <th>{{i + 1}}</th>
                                <td>{{details.firstName}}</td>
                                <td>{{details.email}}</td>
                                <td>{{details.rollNumber}}</td>
                                <td>{{details.examNumber}}</td>
                                <td class="d-flex">
                                    <a class="bi bi-eye-fill me-3 h5" title="view details"
                                        [routerLink]="[details._id, 'view-student']"></a>
                                    <a class="bi bi-pen-fill me-2 h5" title="update Student"
                                        [routerLink]="[details._id, 'update-student']"></a>
                                    <a class="bi bi-trash-fill ms-2 h5" title="delete student"
                                        (click)="deleteStudent(details._id)"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- <mat-paginator [length]="totalLength" [pageIndex]="pageIndex" [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="handlePageChange($event)">
                    </mat-paginator> -->

                </div>
            </div>
        </div>
    </div>
</section>

