.container {
    background-image: url(/assets/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position:-4% 40%; */
}

.main-container {
    background-image: url(/assets/background-2.png), url(/assets/background-3.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 150px 150px, 200px 200px; 
    background-position:93% -6%, 27% 51%;
}