<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-sm-center vh-100 align-items-sm-center">
            <div class="row col-12 col-sm-8 main-container">
                <div class="col-12 col-sm-10">
                    <!-- name -->
                    <h1 class="h5 fw-bold">
                        <span class="text-success">Reach</span>Me
                    </h1>
                    <h1 class="text-center fw-bold text-success mt-3">
                        Sign In Your Account
                    </h1>
                    <div class="underLine"></div>
                    <div class="flex">
                        <div><i class="bi bi-facebook"></i></div>
                        <div><i class="bi bi-linkedin"></i></div>
                        <div><i class="bi bi-google"></i></div>
                    </div>
                </div>
                <div class="col-sm-4 d-none d-sm-block">
                </div>
            </div>
        </div>
    </div>
</div>