/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.signin-btn {
    background: none;
    border: none;
    background-color: #0dca78;
    color: white;
    border-radius: 20px;
}

.signup-btn {
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
}

.underLine {
    border-top: 3px solid #0dca78;
    width: 40px;
    margin: auto;
}

.info-container {
    background-color: #0dc997;
    background-image: url(./assets/pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
}



/* Card like table container */

.card-style-table {
    background-color: white;
    border-radius: 1em;
    box-shadow: 1px 1px 8px #888888;
  }
  
  .card-style-table .report-filters-heading {
    font-size: 22px;
  }
  
  /* Gray table */
  
  .table.app-rounded-gray-hd-table {
    border-collapse: separate;
    border-spacing: 0 1.1em;
  }
  
  /* Fix for material dropdown inside app-rounded-gray-hd-table*/
  
  .table.app-rounded-gray-hd-table mat-form-field {
    border-collapse: collapse;
  }
  
  .table.app-rounded-gray-hd-table th {
    background-color: #EFF1F7;
  }
  
  .table.app-rounded-gray-hd-table th:first-child {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
  }
  
  .table.app-rounded-gray-hd-table th:last-child {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }
  
  .margin-right-3 {
    margin-right: 1rem;
  }
  
  .card-style {
    background-color: white;
    box-shadow: 1px 1px 8px #888888;
  }
  
  .card-style-table th {
    border-bottom: none;
    font-weight: normal;
  }